@using System.Threading
@{
    var titleTag = (string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : ViewBag.Title + " - ") + Resources.Common.ApplicationName;

    // set up global js variable, to hold culture code
    // it is later used for globalize, cldr and moment
    var currentCultureCode = "root";
    switch (Thread.CurrentThread.CurrentCulture.ToString())
    {
        case "et-EE":
            currentCultureCode = "et";
            break;
        case "en-US":
            currentCultureCode = "en";
            break;
        default:
            currentCultureCode = Thread.CurrentThread.CurrentCulture.ToString();
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@titleTag</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var currentCultureCode = '@currentCultureCode';
    </script>
    @RenderSection("headerscripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Common.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ApiDemo", "ApiDemo", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("HelperDemo", "Index", "HelperDemo", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Files", "Index", "FDemo", new { area = "" }, null)</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Persons", "Index", "Persons", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Contacts", "Index", "Contacts", new { area = "" }, null)</li>
                    }
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contact Types", "Index", new { area = "Admin", controller = "ContactTypes" })</li>
                                <li>@Html.ActionLink("Articles", "Index", new { area = "Admin", controller = "Articles" })</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("MultiLangStrings", "Index", new { area = "Admin", controller = "MultiLangStrings" })</li>
                                <li>@Html.ActionLink("Translations", "Index", new { area = "Admin", controller = "Translations" })</li>
                                <li>@Html.ActionLink("System logs", "Index", new { area = "Admin", controller = "SystemLog" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Identity <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Users", "Index", new { area = "Admin", controller = "Users" })</li>
                                <li>@Html.ActionLink("Roles", "Index", new { area = "Admin", controller = "Roles" })</li>
                                <li>@Html.ActionLink("Users in Roles", "Index", new { area = "Admin", controller = "UserRoles" })</li>
                                <li>@Html.ActionLink("Logins", "Index", new { area = "Admin", controller = "UserLogins" })</li>
                                <li>@Html.ActionLink("Claims", "Index", new { area = "Admin", controller = "UserClaims" })</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - @Resources.Common.ApplicationName
                @if (Request.IsAuthenticated)
            {
                    <text>(<a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Common.LogOff</a>)</text>
                }
                else
                {
                    <text>(@Html.ActionLink(@Resources.Common.Login, "Login", new { area = "", controller = "Account" }, htmlAttributes: new { id = "loginLink" }) | @Html.ActionLink(@Resources.Common.Register, "Register", new { area = "", controller = "Account" }, htmlAttributes: new { id = "registerLink" }))</text>
                }
                (Culture:<b>@Culture</b> UICulture:<b>@UICulture</b>)
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")


    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</body>
</html>