@model Web.ViewModels.HelperDemoIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>HelperDemo</h2>

@*
    See these websites
    http://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp
    http://getbootstrap.com/css/#forms-controls

    @Html.DropDownListFor()
    @Html.EnumDropDownListFor()
    @Html.TextAreaFor()
    @Html.TextBoxFor()
    @Html.CheckBoxFor()
    @Html.ListBoxFor()
    @Html.RadioButtonFor()

*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.DropDownListId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DropDownListId, Model.DropDownList, @Resources.Common.SelectOptionLabel, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DropDownListId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnumDropDown, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.EnumDropDown, @Resources.Common.SelectOptionLabel, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnumDropDown, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CheckBox, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.CheckBox, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CheckBox, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">@nameof(Model.CheckBox)</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.CheckBox, new { })
                        @nameof(Model.CheckBox)
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.CheckBox, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TextBox, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TextBox, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TextBox, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TextArea, 10, 80, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TextArea, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ListBoxId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.ListBoxId, Model.ListBoxList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ListBoxId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@nameof(Model.RadioButtonId1)</label>
            <div class="col-md-10">
                @foreach (var person in Model.RadioButtonList1)
                {
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(model => model.RadioButtonId1, person.PersonId, new { })
                            @person.FirstLastname
                        </label>
                    </div>
                }
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@nameof(Model.RadioButtonId2)</label>
            <div class="col-md-10">
                @foreach (var person in Model.RadioButtonList2)
                {
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(model => model.RadioButtonId2, person.PersonId, new { })
                            @person.FirstLastname
                        </label>
                    </div>
                }
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>


    </div>
}