@using HtmlHelpers
@using Web.Helpers
@model Domain.Person

<div class="form-group">
    @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Time, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Time, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DateTime2, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DateTimeEditorFor(model => model.DateTime2, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DateTime2, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Date2, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DateTimeEditorFor(model => model.Date2, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.Time2, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DateTimeEditorFor(model => model.Time2, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Time2, "", new { @class = "text-danger" })
    </div>
</div>


