@model Domain.Identity.UserLoginInt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserLogin</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoginProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    @Html.ActionLink("Back to List", "Index")
</p>