@model Web.Areas.Admin.ViewModels.ArticleViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Article.ArticleName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Article.ArticleName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Article.ArticleName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ArticleHeadline, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ArticleHeadline, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ArticleHeadline, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ArticleBody, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ArticleBody, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ArticleBody, "", new { @class = "text-danger" })
    </div>
</div>
