@model Web.ViewModels.ContactIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Model.ContactCount
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Person.FirstLastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().ContactType.ContactTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().ContactValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Contacts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstLastname)
        </td>
        <td>
            @item.ContactType.ContactTypeName.Translate()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
