@model IEnumerable<Domain.ContactType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactTypeName.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAtDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedAtDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactTypeName.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAtDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedAtDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactTypeId })
        </td>
    </tr>
}

</table>
